<h2>Welcome to WingTip Toys' Product Catalog</h2>

<div class="product-catalog-container">
  <div class="row h-100 pt-3">

    <!--Left side-->
    <div class="col-5 side-menu">
      <app-side-menu 
        [selectedProductTypeId]="selectedProductTypeId"
        (selectedProductType)="onProductTypeChange($event)"
      >
      </app-side-menu>
    </div>

    <!--Right side-->
    <div class="col-7 main-content">      
      <!--Ensure we have the data before rendering the main content-->
      <div *ngIf="!!(products$ | async)">
        <app-main-content 
          [products]="products$ | async"
          [selectedProductTypeId]="selectedProductTypeId"
          (addProductId)="addProductToCart($event)">
        >
        </app-main-content>
      </div>
    </div>

  </div>

</div>
